In [2]:
import numpy as np
import pandas as pd
import math
pi = 3.1415

Задание - 1
---

In [3]:
Pcap = 10
Pw = 2500
Pg = Pcap + Pw
print("Давление газовой фазы: ", Pg, " фунт/кв. дюйм абс")

Давление газовой фазы:  2510  фунт/кв. дюйм абс

Задание - 2
---

In [4]:
qw = 1000
qo = 100
WCT = (qw / (qw + qo))
print("обводненность: ", np.round(WCT, 4))

обводненность:  0.9091

Задание - 3
---

In [5]:
debit = 10000.0
dP = 10.0
dPI = 0.05
PI = debit / dP
year = 2
for i in range(year):
    PI = PI - PI * dPI

print("PI в конце второго года: ", PI, "барр/день / фунт/кв дюйм")

PI в конце второго года:  902.5 барр/день / фунт/кв дюйм

Задание - 4
---

In [6]:
Sw = [0.30, 0.35, 0.40, 0.45, 0.50, 0.55, 0.60, 0.65, 0.70, 0.80]
Krw = [0.000, 0.005, 0.010, 0.017, 0.023, 0.034, 0.045, 0.064, 0.083, 0.120]
Kro = [1.000, 0.590, 0.320, 0.180, 0.080, 0.030, 0.010, 0.005, 0.001, 0.000]

data = pd.DataFrame({'Sw': Sw, 'Krw': Krw, 'Kro': Kro})

data.style.hide_index()

In [7]:
#a)
Sorw = 0
for i in range(len(Sw)):
    if (Kro[i] == 0.0):
        Sorw = np.round(1 - Sw[i], 4)
print("Sorw: ", np.round(Sorw, 2))
#b)
Swc = 0
for i in range(len(Sw)):
    if (Krw[i] == 0.0):
        Swc = Sw[i]
print("Swc: ", np.round(Swc, 2))
#c)
KroSwc = 0
for i in range(len(Sw)):
    if(Sw[i] == Swc):
        KroSwc = Kro[i]

print("Kro(Swc): ", np.round(KroSwc, 4))
#d)
KrwSorw = 0
for i in range(len(Sw)):
    if (Sw[i] == 1 - Sorw):
        KrwSorw = Krw[i]


print("Krw(Sorw): ", np.round(KrwSorw, 4))
#e)
Muo = 1.30
Muw = 0.80

Kpodv = (KrwSorw / Muw) / (KroSwc / Muo)
print("коэффициент подвижности для воды: ", Kpodv )

Sorw:  0.2
Swc:  0.3
Kro(Swc):  1.0
Krw(Sorw):  0.12
коэффициент подвижности для воды:  0.195

Задание - 5
---

In [8]:
MuL = 2.3
FVF = 1.25
Hpl = 30.0
Ke = 100.0
Rs = 4.5 / 12.0
S = 0
Sdr = 20.0 * 43560

PI = (0.00708 * Ke * Hpl) / (MuL * FVF * (math.log((math.sqrt(Sdr / pi))/Rs)))
print("PI = ", np.round(PI, 4), "барр/день / фунт/кв дюйм")

PI =  1.0194 барр/день / фунт/кв дюйм